body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 100vh;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
